<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ms-auto me-auto" href="#">Secret Santa generator</a>
</nav>
<div class="container mt-5">
  <p>In my family we always randomize who is gonna buy a christmas to whom.</p>
  <p>But all of the generators available online (atleast from what I've found) is way too complex and requires emails and yadayada.<br>
  So therefore I decided to make this simple generator.</p>
  <p>Simply type in the names of the participants to the left, press the "randomize"-button and it's all done!</p>
  <br>
  <hr>
</div>
<div class="container mt-5 d-flex">
  <div class="col-4">
    <app-form></app-form>
  </div>
  <div class="col-1"></div>
  <div class="col-7 d-flex flex-row justify-content-between mt-auto">
    <app-display></app-display>
  </div>
</div>