<h1 class="header-saved text-center mt-5">Merry Christmas!</h1>
<div class="d-flex flex-row justify-content-center" style="min-height:50vh">
    <div class="col-sm-2" style="margin: auto 1vh">
        <h6>From</h6>
        <div class="card px-3 to-from-card">
            <ul class="list-group list-group-flush" *ngFor="let name of dbEntry.from">
                <li class="list-group-item" style="text-align:right;">{{name}}</li>
            </ul>
        </div>
    </div>

    <i class="bi bi-arrow-right mt-auto mb-auto col-sm-3" style="font-size: 3rem; width:8rem; text-align:center; color:white;"></i>
    
    <div class="col-sm-2" style="margin: auto 1vh">
        
        <h6>To</h6>
        <div class="card px-3 to-from-card">
            <ul class="list-group list-group-flush" *ngFor="let name of dbEntry.to">
                <li class="list-group-item">{{name}}</li>
            </ul>
        </div>
    </div>
