/* You can add global styles to this file, and also import other style files */

html, body { 
    min-height:100vh 
}

body {
    background: rgba(133,0,0,1);
    background: -moz-linear-gradient(180deg, rgba(255,56,56,1) 0%, rgba(166,0,0,1) 65%, rgba(133,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,56,56,1) 0%, rgba(166,0,0,1) 65%, rgba(133,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(255,56,56,1) 0%, rgba(166,0,0,1) 65%, rgba(133,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3838",endColorstr="#850000",GradientType=1);
    background-repeat:no-repeat;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

p {
    color:white;
}

label, h6{
    color:white;
}

hr {
    color:white;
}

.text-muted {
    color: #ddd !important;
    font-style:italic;
}

textarea{
    border-radius:0.375rem;
}

.to-from-card {
    min-height:30vh;
}

.header-saved {
    font-family: 'Dancing Script', cursive;
    font-size:5rem;
    color:white;
}